<div>
    <h3>Contact Details</h3>
    <address>
        Paweł Gojlik<br />
        ul. Stolema 22A/10, 80-177 Gdańsk<br />
        tel. (+48) 512-468-634<br />
    <hr />
        <div><strong>Mail:</strong>   <a href="mailto:gojlik.pawel@gmail.com">gojlik.pawel@gmail.com</a></div>
    </address>
</div>